aiofiles
aiosqlite
altair
Babel
beautifulsoup4
bidict
bleach
blinker==1.4
boltons
boto==2.49.0
cvxgraphalgs==0.1.2
cvxpy
geopandas==0.14.1
geopy==2.3.0
gurobipy==10.0.2
importlib-metadata
Jinja2
json5
jsonpointer==2.1
jsonschema
matplotlib==3.7.2
networkx
numpy
pandas
Pillow==9.4.0
plotly
requests
scipy==1.10.1
seaborn
shapely==2.0.2
streamlit==1.25.0
toml
tomli
us==3.1.1
webencodings==0.5.1
websocket-client
